# Environments
.env
.env.*
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/

# Django
db.sqlite3
staticfiles/
media/
*.log

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
